.random__wrapper {
	background: white;
	border-radius: 5px;
	padding: 10px 0;
	align-items: flex-start;
}
.random__wrapper h4 {
	padding: 0 10px;
	display: flex;
	justify-content: space-between;
}
.random__wrapper h4 span:first-child {

	margin-right: 10px;
}
.random_button {
	display: flex;
	justify-content: flex-end;
	padding: 5px 10px;
}
.random_button button {
	padding: 5px 20px;
	background-color: #A8B5BD;
	border-radius: 3px;
	box-shadow: 1px 1px 6px;
	transition: all 0.1s;
	border: none;
	transition: all .4s;
}
.random_button button:hover {
	transform: translate(1px, 1px);
	box-shadow: 1px 1px 1px;
}
@media (hover: none) and (pointer: coarse) {
	.random_button button:hover {
		transform: translate(0px, 0px);
		box-shadow: 1px 1px 6px;
	}
}
